* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 200vh; /* Atur sesuai kebutuhan */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

/* button styling */
.button {
  --border-right: 6px;
  --text-stroke-color: rgba(255,255,255,0.6);
  --animation-color: aqua;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}
/* From Uiverse.io by TechByElijah */ 
.center {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
}

.container {
  height: 31.25em;
  width: 21.87em;
  margin-top: -325px;
}

.rope {
  height: 13.62em;
  width: 0.15em;
  background-color: #ffffff;
  animation: swing 2s infinite;
}

@keyframes swing {
  50% {
    transform: translateY(-4em);
  }
}

.legs {
  height: 1.12em;
  width: 7.5em;
  background-color: transparent;
  box-shadow: 0 0 0 0.12em #140243, 0 0 0 1.06em #1b1676, 0 0 0 1.18em #140243;
  top: 12.5em;
  border-radius: 3.12em;
}

.boot-l,
.boot-r {
  height: 1.25em;
  width: 2.5em;
  background-color: #e32832;
  position: absolute;
  border: 0.12em solid #140243;
  bottom: 1.12em;
}

.boot-l {
  left: 1em;
}

.boot-r {
  transform: rotateY(180deg);
  left: 3.81em;
}

.boot-l:before,
.boot-r:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 1.12em solid #140243;
  border-left: 1.18em solid transparent;
  bottom: 1.31em;
  left: 1.46em;
}

.boot-l:after,
.boot-r:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 1.12em solid #e32832;
  border-left: 1em solid transparent;
  right: 0;
  top: -0.93em;
}

.costume {
  height: 6.25em;
  width: 5.62em;
  background: linear-gradient(
    to right,
    #1b1676 20%,
    #e32832 20%,
    #e32832 80%,
    #1b1676 80%
  );
  border: 0.12em solid #140243;
  top: 14.68em;
}

.spider {
  height: 1.87em;
  width: 0.93em;
  background-color: #140243;
  border-radius: 45%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: calc(50% + 0.93em);
  left: 50%;
}

.s1,
.s3 {
  height: 7.5em;
  width: 2.5em;
  border-radius: 0 0 1.37em 1.37em;
  border-bottom: 0.12em solid #140243;
  position: absolute;
}

.s2,
.s4 {
  height: 7.5em;
  width: 3.12em;
  border-radius: 0 0 1.56em 1.56em;
  border-bottom: 0.12em solid #140243;
  position: absolute;
}

.s1,
.s2,
.s3,
.s4 {
  left: 50%;
}

.s1 {
  bottom: 1.43em;
}

.s2 {
  bottom: 0.93em;
}

.s3,
.s4 {
  transform: translateX(-50%) rotateX(180deg);
}

.s3 {
  top: 1.43em;
}

.s4 {
  top: 0.93em;
}

.belt {
  height: 0.43em;
  width: 5.87em;
  background-color: #e32832;
  border: 0.12em solid #140243;
  top: -0.12em;
}

.hand-r,
.hand-l {
  height: 8.12em;
  background: linear-gradient(
    #e32832 4.6em,
    #140243 4.6em,
    #140243 4.75em,
    #1b1676 4.75em,
    #1b1676 8.12em
  );
  width: 1.12em;
  border: 0.12em solid #140243;
  border-radius: 1.25em;
  position: absolute;
  transform-origin: bottom;
  bottom: -0.12em;
}

.hand-r {
  right: -0.75em;
  transform: rotate(-22deg);
}

.hand-l {
  left: -0.75em;
  transform: rotate(22deg);
}

.neck {
  height: 0.37em;
  width: 1.25em;
  background-color: #e32832;
  bottom: -0.62em;
  border: 0.12em solid #140243;
}

.mask {
  height: 4.65em;
  width: 4.06em;
  background-color: #e32832;
  border-radius: 50% 50% 50% 50% / 54% 54% 46% 46%;
  border: 0.12em solid #140243;
  top: 6.56em;
}

.eye-l,
.eye-r {
  height: 0.68em;
  width: 1.37em;
  background-color: #ffffff;
  border-radius: 1.37em 1.37em 0 0;
  border: 0.12em solid #140243;
  position: absolute;
  top: 2.1em;
}

.eye-l {
  left: 0.3em;
}

.eye-r {
  right: 0.3em;
}

.cover {
  height: 3.12em;
  width: 0.15em;
  background-color: #ffffff;
  bottom: 8.12em;
}

@media screen and (min-width: 600px) {
  .container {
    font-size: 20px;
  }
}
.spiderman-container {
  position: fixed;
  top: 50px; /* Sesuaikan posisi dari atas */
  left: 50%; /* Posisikan di tengah horizontal */
  transform: translateX(-50%); /* Center secara horizontal */
  z-index: 1000; /* Pastikan di atas navbar */
  pointer-events: none; /* Tidak mengganggu interaksi pengguna */
  width: 100px; /* Sesuaikan ukuran */
  height: 200px; /* Sesuaikan ukuran */
}

.twitter-feed {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tiga kolom dengan lebar yang sama */
  gap: 20px; /* Jarak antar tweet */
  padding: 20px; /* Ruang di sekitar feed */
  box-sizing: border-box; /* Menghitung padding dalam lebar total */
}

.twitter-feed blockquote {
  margin: 0; /* Hapus margin default */
  padding: 0; /* Hapus padding default */
  box-sizing: border-box; /* Menghitung padding dalam lebar total */
}


.twitter-feed blockquote a {
  color: #1da1f2; /* Warna link Twitter */
  text-decoration: none; /* Hapus underline default */
}



/* Styling untuk navbar di halaman profil */
.navbar {
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    max-width: 1200px;
    width: 100%;
}

.navbar-logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-menu li {
    margin-left: 20px;
}

.navbar-menu a {
    color: white;
    text-decoration: none;
    font-size: 22px;
    padding: 10px 15px;
    display: block;
    border-radius: 20px;
    transition: background-color 0.3s, border-radius 0.3s;
}

.navbar-menu a:hover {
    background-color: rgba(0, 255, 255, 0.27);
    border-radius: 20px;
}

.navbar-menu i {
    font-size: 22px;
}

.profile-container {
    background-color: #333;
    padding: 20px;
    border-radius: 50px;
    width: 100%;
    max-width: 800px;
    margin: 50px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    border: 4px solid transparent;
    animation: borderAnimation 3s infinite;
    text-align: center;
}

@keyframes borderAnimation {
    0% {
        border-color: transparent;
        box-shadow: 0 0 0 0 rgba(0, 255, 255, 0.7);
    }
    50% {
        border-color: rgba(0, 255, 255, 0.7);
        box-shadow: 0 0 15px 5px rgba(0, 255, 255, 0.7);
    }
    100% {
        border-color: transparent;
        box-shadow: 0 0 0 0 rgba(0, 255, 255, 0.7);
    }
}

.profile-header {
    display: flex;
    flex-direction: column; /* Mengubah arah flex menjadi kolom */
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}



.badge-container {
    margin-top: 10px; 
}

.badge {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  background: linear-gradient(45deg, aqua, #302f2f);
  color: white;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.badge i {
  margin-right: px;
}

.badge-container {
  margin-top: 10px;
}

.badge {
position: relative;
display: inline-flex;
align-items: center;
justify-content: center;
padding: 8px 16px;
background: linear-gradient(45deg, aqua, #302f2f);
color: white;
border-radius: 25px;
font-size: 16px;
font-weight: bold;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
cursor: pointer;
}

.badge i {
margin-right: 3px;
}

.badge:hover {
transform: scale(1.05) translateY(-5px); /* Efek 3D dengan mengangkat sedikit */
box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.1); /* Menambahkan shadow lebih besar */
background: linear-gradient(45deg, aqua, #302f2f); /* Mengubah warna background saat hover */
}

.badge .badge-text {
display: none;
position: absolute;
bottom: -20px;
left: 50%;
transform: translateX(-50%);
background: rgba(0, 0, 0, 0.8);
color: white;
padding: 4px 8px;
border-radius: 5px;
font-size: 12px;
white-space: nowrap;
}

.badge:hover .badge-text {
display: block;
}

.badge .badge-text {
  display: none;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
}

.badge:hover .badge-text {
  display: block;
}

.member-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #555;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    position: relative;
}

.main {
    position: relative;
    width: 23.5vmax;
    height: 23.5vmax;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .leg {
    position: absolute;
    bottom: 0;
    width: 2vmax;
    height: 2.125vmax;
  }
  
  .paw {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1.95vmax;
    height: 1.875vmax;
    overflow: hidden;
  }
  
  .paw::before {
    content: "";
    position: absolute;
    width: 3.75vmax;
    height: 3.75vmax;
    border-radius: 50%;
  }
  
  .top {
    position: absolute;
    bottom: 0;
    left: 0.75vmax;
    height: 4.5vmax;
    width: 2.625vmax;
    border-top-left-radius: 1.425vmax;
    border-top-right-radius: 1.425vmax;
    transform-origin: bottom right;
    transform: rotateZ(90deg) translateX(-0.1vmax) translateY(1.5vmax);
    z-index: -1;
    background-image: linear-gradient(70deg, transparent 20%, #ff8b56 20%);
  }
  
  .dog {
    position: relative;
    width: 22.5vmax;
    height: 8.25vmax;
  }
  
  .dog::before {
    content: "";
    position: absolute;
    bottom: -0.75vmax;
    right: -0.15vmax;
    width: 100%;
    height: 1.5vmax;
    background-color: rgba(28, 49, 48, 0.1);
    border-radius: 50%;
    z-index: -1000;
    animation: shadow 10s cubic-bezier(0.3, 0.41, 0.18, 1.01) infinite;
  }
  
  .dog__head {
    position: absolute;
    left: 4.5vmax;
    bottom: 0;
    width: 9.75vmax;
    height: 8.25vmax;
    border-top-left-radius: 4.05vmax;
    border-top-right-radius: 4.05vmax;
    border-bottom-right-radius: 3.3vmax;
    border-bottom-left-radius: 3.3vmax;
    background-color: #ff8147;
    animation: head 10s cubic-bezier(0.3, 0.41, 0.18, 1.01) infinite;
  }
  
  .dog__head-c {
    position: absolute;
    left: 1.5vmax;
    bottom: 0;
    width: 9.75vmax;
    height: 8.25vmax;
    animation: head 10s cubic-bezier(0.3, 0.41, 0.18, 1.01) infinite;
    z-index: -1;
  }
  
  .dog__snout {
    position: absolute;
    left: -1.5vmax;
    bottom: 0;
    width: 7.5vmax;
    height: 3.75vmax;
    border-top-right-radius: 3vmax;
    border-bottom-right-radius: 3vmax;
    border-bottom-left-radius: 4.5vmax;
    background-color: #d7dbd2;
    animation: snout 10s cubic-bezier(0.3, 0.41, 0.18, 1.01) infinite;
  }
  
  .dog__snout::before {
    content: "";
    position: absolute;
    left: -0.1125vmax;
    top: -0.15vmax;
    width: 1.875vmax;
    height: 1.125vmax;
    border-top-right-radius: 3vmax;
    border-bottom-right-radius: 3vmax;
    border-bottom-left-radius: 4.5vmax;
    background-color: #1c3130;
    animation: snout-b 10s cubic-bezier(0.3, 0.41, 0.18, 1.01) infinite;
  }
  
  .dog__nose {
    position: absolute;
    top: -1.95vmax;
    left: 40%;
    width: 0.75vmax;
    height: 2.4vmax;
    border-radius: 0.525vmax;
    transform-origin: bottom;
    transform: rotateZ(10deg);
    background-color: #d7dbd2;
  }
  
  .dog__eye-l,
  .dog__eye-r {
    position: absolute;
    top: -0.9vmax;
    width: 0.675vmax;
    height: 0.375vmax;
    border-radius: 50%;
    background-color: #1c3130;
    animation: eye 10s cubic-bezier(0.3, 0.41, 0.18, 1.01) infinite;
  }
  
  .dog__eye-l {
    left: 27%;
  }
  
  .dog__eye-r {
    left: 65%;
  }
  
  .dog__ear-l,
  .dog__ear-r {
    position: absolute;
    width: 10.5vmax;
    height: 3.375vmax;
    border-top-left-radius: 0vmax;
    border-top-right-radius: 0vmax;
    border-bottom-right-radius: 3.3vmax;
    border-bottom-left-radius: 3.3vmax;
    background-color: #e26538;
  }
  
  .dog__ear-l {
    top: 1.5vmax;
    left: 6vmax;
    transform-origin: bottom left;
    transform: rotateZ(-50deg);
    z-index: -1;
    animation: ear-l 10s cubic-bezier(0.3, 0.41, 0.18, 1.01) infinite;
  }
  
  .dog__ear-r {
    top: 1.5vmax;
    right: 3vmax;
    transform-origin: bottom right;
    transform: rotateZ(20deg);
    z-index: -2;
    animation: ear-r 10s cubic-bezier(0.3, 0.41, 0.18, 1.01) infinite;
  }
  
  .dog__body {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    bottom: 0.3vmax;
    left: 3.75vmax;
    width: 18.75vmax;
    height: 7.2vmax;
    border-top-left-radius: 3vmax;
    border-top-right-radius: 6vmax;
    border-bottom-right-radius: 1.5vmax;
    border-bottom-left-radius: 6vmax;
    background-color: #ff702e;
    z-index: -2;
    animation: body 10s cubic-bezier(0.3, 0.41, 0.18, 1.01) infinite;
  }
  
  .dog__tail {
    position: absolute;
    right: -3vmax;
    height: 1.5vmax;
    width: 4.5vmax;
    background-color: #e96839;
    border-radius: 1.5vmax;
  }
  
  .dog__paws {
    position: absolute;
    bottom: 0;
    left: 7.5vmax;
    width: 12vmax;
    height: 3vmax;
  }
  
  .dog__bl-leg {
    left: -3vmax;
    z-index: -10;
  }
  
  .dog__bl-paw::before {
    background-color: #bec4b6;
  }
  
  .dog__bl-top {
    background-image: linear-gradient(80deg, transparent 20%, #e96839 20%);
  }
  
  .dog__fl-leg {
    z-index: 10;
    left: 0;
  }
  
  .dog__fl-paw::before {
    background-color: #d7dbd2;
  }
  
  .dog__fr-leg {
    right: 0;
  }
  
  .dog__fr-paw::before {
    background-color: #d7dbd2;
  }
  
  /*==============================*/
  
  @keyframes head {
    0%,
    10%,
    20%,
    26%,
    28%,
    90%,
    100% {
      height: 8.25vmax;
      bottom: 0;
      transform-origin: bottom right;
      transform: rotateZ(0);
    }
    5%,
    15%,
    22%,
    24%,
    30% {
      height: 8.1vmax;
    }
    32%,
    50% {
      height: 8.25vmax;
    }
    55%,
    60% {
      bottom: 0.75vmax;
      transform-origin: bottom right;
      transform: rotateZ(0);
    }
    70%,
    80% {
      bottom: 0.75vmax;
      transform-origin: bottom right;
      transform: rotateZ(10deg);
    }
  }
  
  @keyframes body {
    0%,
    10%,
    20%,
    26%,
    28%,
    32%,
    100% {
      height: 7.2vmax;
    }
    5%,
    15%,
    22%,
    24%,
    30% {
      height: 7.05vmax;
    }
  }
  
  @keyframes ear-l {
    0%,
    10%,
    20%,
    26%,
    28%,
    82%,
    100% {
      transform: rotateZ(-50deg);
    }
    5%,
    15%,
    22%,
    24% {
      transform: rotateZ(-48deg);
    }
    30%,
    31% {
      transform: rotateZ(-30deg);
    }
    32%,
    80% {
      transform: rotateZ(-60deg);
    }
  }
  
  @keyframes ear-r {
    0%,
    10%,
    20%,
    26%,
    28% {
      transform: rotateZ(20deg);
    }
    5%,
    15%,
    22%,
    24% {
      transform: rotateZ(18deg);
    }
    30%,
    31% {
      transform: rotateZ(10deg);
    }
    32% {
      transform: rotateZ(25deg);
    }
  }
  
  @keyframes snout {
    0%,
    10%,
    20%,
    26%,
    28%,
    82%,
    100% {
      height: 3.75vmax;
    }
    5%,
    15%,
    22%,
    24% {
      height: 3.45vmax;
    }
  }
  
  @keyframes snout-b {
    0%,
    10%,
    20%,
    26%,
    28%,
    98%,
    100% {
      width: 1.875vmax;
    }
    5%,
    15%,
    22%,
    24% {
      width: 1.8vmax;
    }
    34%,
    98% {
      width: 1.275vmax;
    }
  }
  
  @keyframes shadow {
    0%,
    10%,
    20%,
    26%,
    28%,
    30%,
    84%,
    100% {
      width: 99%;
    }
    5%,
    15%,
    22%,
    24% {
      width: 101%;
    }
    34%,
    81% {
      width: 96%;
    }
  }
  
  @keyframes eye {
    0%,
    30% {
      width: 0.675vmax;
      height: 0.3vmax;
    }
    32%,
    59%,
    90%,
    100% {
      width: 0.525vmax;
      height: 0.525vmax;
      transform: translateY(0);
    }
    60%,
    75% {
      transform: translateY(-0.3vmax);
    }
    80%,
    85% {
      transform: translateY(0.15vmax);
    }
  }
  

  
.profile-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.profile-name {
    font-size: 2rem;
    margin: 0;
}

.profile-info {
    font-size: 1.2rem;
}

.profile-info p {
    margin-bottom: 15px;
}

.profile-info a {
    color: #ffffff;
    text-decoration: none;
}

.profile-info a:hover {
    text-decoration: underline;
    color: aqua;
}

.profile-info i {
    margin-right: 8px;
    font-size: 1.2rem;
}

.social-media {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    border: 1px solid #444;
    border-radius: 10px;
    background-color: #222;
    margin-top: 20px;
    margin-bottom: 40px;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background-color: #333;
    color: white;
    font-size: 24px;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.);
}

.social-link:hover {
    background-color: #555;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.social-link i {
    margin: 0;
}


/* Styling untuk scrollbar */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-button {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(aqua, rgb(0, 0, 0));
    border-radius: 10px;
}
